pyaudio
--index-url https://download.pytorch.org/whl/torch_stable.html
torch==1.8.0
--index-url https://torch.kmtea.eu/whl/stable.html
torchaudio==0.8.0
numpy==1.20.1
inflect
unidecode
librosa==0.8.1
torch_stft
onnxruntime
